body {
    margin: 0;
    font-family: Roboto, sans-serif;
    color: #92a7b2;
    font-weight: lighter;
    background-color: #eaf1f4;
    overflow-x: hidden;
}

h2 {
    font-weight: lighter;
}

th {
    color: #89a4b1;
    font-weight: bold;

}

th::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #89a4b1;
    margin-left: 3px;
}

/*th {
    background-image: url(../images/arrow_down.png);
    background-repeat: no-repeat;
    content: "";
    background-position: 60% 100%;
    z-index: 999999999999;
}*/
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #92a7b2;
}

em {
    display: block;
    font-style: normal;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.panel {
    overflow: hidden;

}

.user_panel {
    float: left;
    width: 200px;
    background-color: #fff;
    position: fixed;
    height: 100%;

}

.media-icons {
    float: right;
    margin-right: 45px;
    margin-top: 5px;
    display: inline-flex;
}

.media-icons img {
    height: 25px;
}

.user_panel li:first-child a {
    padding: 20px;
    text-align: center;
    display: block;
}

.user_panel li:not(:first-child) a {
    font-size: 17px;
    line-height: 16px;
    background-repeat: no-repeat;
    padding: 20px 0px 20px 65px;
    background-position: 10% 50%;
    display: block;

}

.user_panel li a.active {
    background-color: #d9f3ff;
    color: #10b1ff;
    border-right: 3px solid #10b1ff;
}

.users {
    background-image: url(../images/users.png);

}

.users.active {
    background-image: url(../images/user.png);

}

.notification {
    background-image: url(../images/notification.png);

}

.notification.active {
    background-image: url(../images/notification-ac.png);

}

.feedback {
    background-image: url(../images/feedback.png);

}

.feedback.active {
    background-image: url(../images/feedback-a.png);

}

.home {
    background-image: url(../images/home-a.png);

}

.home.active {
    background-image: url(../images/home-icon.png);

}

.groups {
    background-image: url(../images/group.png);
}

.groups.active {
    background-image: url(../images/groups-a.png);
}

.companies {
    background-image: url(../images/company.png);
}

.companies.active {
    background-image: url(../images/company-a.png);
}

.transact {
    background-image: url(../images/transaction.png);
}

.transact.active {
    background-image: url(../images/trans-a.png);
}

.withdraw {
    background-image: url(../images/withdraw.png);
}

.withdraw.active {
    background-image: url(../images/withdraw-a.png);
}

.media {
    background-image: url(../images/media.png);
}

.media.active {
    background-image: url(../images/media-a.png);
}

.user_panel li:hover {
    background-color: #d9f3ff;
    border-right: 3px solid #10b1ff;
}

.user_panel li:first-child:hover {
    background: none;
    border-right: none;
}

.user_panel li:hover a {
    color: #10b1ff;
}

.users_area {
    float: right;
    padding-right: 20px;
    width: calc(100% - 240px);
}

.search_paginate {
    overflow: hidden;
    margin: 0 0 30px;
}

.users_search {
    float: left;
    min-width: 500px;
}

.users_search input {
    padding: 10px;
    border: none;
}

.search_bar {
    width: 70%;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid rgba(0, 0, 0, 0.3) !important;
}

.search_btn {
    width: 25%;
    border-radius: 0px 10px 10px 0px;
    margin: 0 0 0 -5px;
    background-color: #00acff;
    color: #fff;
    padding: 11px !important;
}

.pagination {
    float: right;
}

.pagination a {
    background-color: #fff;
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    padding: 7px 14px;
    border-radius: 5px;
    margin-right: 5px;
}

.pagination a:hover:not(.active) {
    color: #0098e4;
}

.pagination a.active {
    color: #0098e4;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

/*table, tr:first-child{
    border: 1px solid red;
}

table, tr{
    border: 1px solid red;
}*/
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 5px;
}

.tab-list {
    overflow-x: auto;
}

td {
    font-size: 15px;
}

tr:not(:first-child) {
    color: #92a7b2;
    background-color: #fff;
    border-bottom: 1px solid #eaf1f4;
}

th, tr, td {
    padding: 10px 10px;
    text-align: left;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.3px;
    white-space: nowrap;
}

.information {
    margin: 0 0 20px;
}

.id {

    border-right: 2px solid #e7eef0;
    padding-right: 10px;
    color: #a6bbc5;
    display: block;
    text-align: center;
}

.media-file td:first-child, .media-file td:nth-child(2) {
    width: 3%;
}

.id:after {

}

/*.information td:first-child{
	border-right: 1px solid;
}*/
td img {
    width: auto;
    height: auto;

}

.circle_img img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    object-fit: cover;
}

.unverified, .investor, .unblocked, .in-progress {
    color: #6b8998;
    background-color: #f4f8f9;
    padding: 7px;
    border-radius: 5px;
    font-weight: 600;
}

.analyst {
    color: #10b1ff;
    background-color: #d9f3ff;
    padding: 7px;
    border-radius: 5px;
    font-weight: 600;
}

.admin, .new {
    color: #e59900;
    background-color: #ffeabf;
    padding: 7px;
    border-radius: 5px;
    font-weight: 600;
}

.users-list td:nth-last-child(2), .users-list td:nth-last-child(1) {
    font-weight: bold;
}

.users-list td:nth-last-child(2) em, .users-list td:nth-last-child(1) em {
    font-weight: normal;
}

.blocked, .rejected {
    color: #ce6363;
    background-color: #ffd9d9;
    padding: 7px;
    border-radius: 5px;
    font-weight: 600;
}

.verified, .completed {
    color: #00b260;
    background-color: #e0f5ea;
    padding: 7px;
    border-radius: 5px;
    font-weight: 600;
}

.btn-confirm {
    border: none;
    background-color: #00acff;
    color: #ffffff;
    border-radius: 4px;
    padding: 4px 15px;
    font-weight: 600;
    cursor: pointer;
}

.btn-reject {
    border: 1px solid #10b1ff;
    background-color: #d9f3ff;
    color: #10b1ff;
    border-radius: 4px;
    padding: 4px 15px;
    font-weight: 600;
    cursor: pointer;
}

.paid {
    color: #0098e4;
    background-color: #d9f3ff;
    padding: 7px;
    border-radius: 5px;
    font-weight: bold;
}

.free {
    color: #00b260;
    background-color: #e0f5ea;
    padding: 7px;
    border-radius: 5px;
    font-weight: bold;
}

.off {
    color: #9eb5bf;
    background-color: #f4f8f9;
    padding: 7px;
    border-radius: 5px;
}

.on {
    color: #00b260;
    background-color: #e0f5ea;
    padding: 7px;
    border-radius: 5px;
    font-weight: bold;
}

.trans_cancel {
    color: #c5d3da;
    background-color: #f4f8f9;
    padding: 7px;
    border-radius: 5px;
}

.trans_paid {
    color: #00b260;
    background-color: #e0f5ea;
    padding: 7px;
    border-radius: 5px;
}

.hidden img {
    background-color: #f4f8f9;
    padding: 5px 15px;
    border-radius: 5px;
}

.unhidden img {
    background-color: #d9f3ff;
    padding: 5px 15px;
    border-radius: 5px;
}

.archive img {
    color: #00b260;
    background-color: #d9f3ff;
    padding: 5px 15px;
    border-radius: 5px;
}

/* User detail template detail */

.user_detail input[type=text], input[type=email], input[type=number], select, textarea {
    width: 100%;
    height: 42px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 12px;
    border: none;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;

}

.user_detail input[type=submit] {
    width: 255px;
    height: 42px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #00acff;
    border: none;
    color: #fff;
}

.user_detail .cancel {
    width: 255px;
    height: 42px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #d9f3ff;
    border: 1px solid #00acff;
    color: #00acff;
    margin-left: 18px;
}

/*input[type=number]::-webkit-inner-spin-button,*/
/*input[type=number]::-webkit-outer-spin-button {*/
/*-webkit-appearance: none;*/
/*-moz-appearance: none;*/
/*appearance: none;*/
/*margin: 0;*/
/*}*/

.u-type {
    background-color: #d9f3ff;
    color: #36a6e8;
    font-weight: 600;
}

.media-imgs .card {

    background-color: #fff;
    padding: 20px;

}

.media-info {
    overflow: hidden;
    margin: 10px 0;
}

.media-info h4 {
    float: left;
    width: 44%;
    margin: 0;
    padding: 7px 0;
    font-size: 15px;
    line-height: 19px;
}

.card-wrap {
    float: left;
    width: 100%;
    padding: 5px;
}

/* Remove extra left and right margins, due to padding */
.media-imgs {
    width: 100%;
}

@media (min-width: 600px) {
    .card-wrap {
        width: 30%;
    }
}

@media (min-width: 1280px) {
    .card-wrap {
        width: 19%;
    }
}

/* Clear floats after the t-columns */
.media-imgs:after {
    content: "";
    display: table;
    clear: both;
}

.media-info p {
    float: right;
    margin: 0;
    font-size: 12px;
    line-height: 16px;

}

.media-dates .uploaded {
    float: left;
    width: 50%;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
}

.media-imgs hr {
    color: rgba(0, 0, 0, 0.1);
}

.media-dates .updated {
    float: right;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;

}

.media-dates em {
    font-weight: normal;
}

.media-dates {
    overflow: hidden;
    margin: 10px 0;
}

.no-text {
    background-color: #e0e9eb;
    color: #afc0c7;

}

.d-text, .d-text2 {
    position: relative;
}

.dated, .dated2 {
    position: absolute;
    top: 16px;
    padding: 4px 15px;
}

.user_profile {
    overflow: hidden;
    margin: 0 0 20px;
}

.user_profile li {
    display: inline-block;
    vertical-align: middle;
    float: left;
    padding: 0 20px;
}

.user_profile li:first-child {
    padding-left: 0;
    background-image: url(../images/right-arrow.png);
    background-repeat: no-repeat;
    background-position: right center;

}

.user_profile li a {
    color: #10b1ff;
}

.dated span, .dated2 span {
    margin-right: 5px;
}

.user_detail .submit {
    display: inline-flex;
    margin-top: 20px;
    float: left;
    clear: both;
}

.user_detail .container {
    border-radius: 5px;
    padding: 20px;
    width: 100%;
}

.user-detail-form .col-1 {
    width: 30%;
    float: left;
    padding-right: 3%;

}

.user-detail-form label {
    display: block;
}

.user_detail .verified {

    background-image: linear-gradient(45deg, transparent 50%, #00b260 50%), linear-gradient(135deg, #00b260 50%, transparent 50%), linear-gradient(to right, #00b260, #00b260);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 24px;
    background-repeat: no-repeat;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid;
}

.user_detail .u-type {

    background-image: linear-gradient(45deg, transparent 50%, #36a6e8 50%), linear-gradient(135deg, #36a6e8 50%, transparent 50%), linear-gradient(to right, #36a6e8, #36a6e8);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 24px;
    background-repeat: no-repeat;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid;

}

.user_detail .simple-type {

    background-image: linear-gradient(45deg, transparent 50%, #b2c7cd 50%), linear-gradient(135deg, #b2c7cd 50%, transparent 50%), linear-gradient(to right, #b2c7cd, #b2c7cd);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 24px;
    background-repeat: no-repeat;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #b2c7cd;

}

.input-btn-group input {
    width: 48% !important;
}

.user_detail .arrow-right {
    padding: 5px 35px 5px 5px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(../images/right-arrow.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

@media (max-width: 992px) {
    .user_detail .col-1 {
        width: 100%;
        padding: 0;
    }
}

.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */

    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #ffffff;
    padding: 20px;
    max-width: 30%;
    margin: 0 auto;
    display: table;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    border: 1px solid;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 10px;
    width: 100%;
}

.actions {
    white-space: nowrap;
}

.modal-actions {
    text-align: center;
}

.modal-actions .btn-confirm {
    width: 48%;
    float: left;
    padding: 10px 15px;
}

.modal-actions .btn-reject {
    width: 48%;
    padding: 10px 15px;
}

.modal-content p {
    margin-top: 0;
}

.t-column {
    float: left;
    width: 23%;
    padding: 0 10px;
}

.t-row {
    margin: 0 -5px;
}

.t-row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .t-column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1600px) {
    .t-column {
        width: 30%;
        display: block;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .t-column {
        width: 30%;
        display: block;
        margin-bottom: 20px;
    }
}

.t-card {

    background-color: #ffffff;
    min-height: 600px;
    border-radius: 10px;
}

.card-header {
    background-color: #00acff;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    padding: 20px 35px;
}

.col-img {
    width: 20%;
    float: left;
    clear: both;

}

.col-img img {
    vertical-align: middle;
}

.col-content {
    width: 80%;
    float: left;
}

.card-header p {
    margin: 0;
    color: #ffffff;
    font-size: 13px;
    line-height: 16px;
}

.card-header span {
    color: #ffffff;
    font-size: 28px;
}

.card-header span em {
    color: #b2e5fe;
    display: inline-block;
}

.card-content li {
    padding: 20px 35px;
}

.card-content .s-heading {
    margin: 0;
    font-size: 13px;
    color: #92a7b2;
    line-height: 17px;
}

.card-content .d-text {
    margin: 0;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    border-bottom: 1px solid #d7e2e5;
    padding-bottom: 25px;
}

.card-content li:hover {
    background-color: #96b3bb;
}

.card-content li:hover .d-text {
    border-bottom: none;
    color: #ffffff;
}

.card-content li:hover .s-heading {
    color: #ffffff;
}