<template>

    <div class="users_area">
        <h2>Companies</h2>

        <div class="search_paginate">
            <div class="users_search">
                <input type="text" class="search_bar" name="" value="" v-model="formData.q"/>
                <input type="submit" class="search_btn" name="" value="Search" @click.prevent="fetch()"/>
            </div>


            <div class="pagination">

                <paginate
                        :no-li-surround = true
                        :page-count="pages"
                        :prev-text="'Prev'"
                        :next-text="'Next'"
                        :click-handler="fetch">
                </paginate>

            </div>

        </div>

        <div class="tab-list">
            <table class="">
                <tr>
                    <th>ID</th>
                    <th>Market ID</th>
                    <th>Country</th>
                    <th>Region</th>
                    <th>Instrument Name</th>
                    <th>Symbol</th>
                    <th>RIC</th>
                    <th>Description</th>
                    <th>Win</th>
                    <th>Lose</th>
                    <th>Neutral</th>
                    <th>Active</th>
                    <th>Pending</th>
                    <th>Closed</th>
                    <th>Image</th>
                    <th>Company Enabled</th>

                </tr>


                <tr class="information" v-for="data in tableData">
                    <td><span class="id">{{data.id}}</span></td>
                    <td><span class="id">{{data.marketId}}</span></td>
                    <td v-if="data.country">{{data.country.title}}</td>
                    <td v-if="!data.country"></td>
                    <td v-if="data.region">{{data.region.title}}</td>
                    <td v-if="!data.region"></td>
                    <td>{{data.instrumentType}}</td>
                    <td>{{data.symbol}}</td>
                    <td>{{data.ric}}</td>
                    <td>{{data.description}}</td>
                    <td>{{data.winRecomendations}}</td>
                    <td>{{data.loseRecomendations}}</td>
                    <td>{{data.neutralRecomendations}}</td>
                    <td>{{data.activeRecomendations}}</td>
                    <td>{{data.pendingRecomendations}}</td>
                    <td>{{data.close}}</td>
                    <td class="circle_img" v-if="data.profileImageUrl !== null"><img alt="Smiley" :src="data.profileImageUrl"></td>
                    <td class="circle_img" v-if="data.profileImageUrl == null"></td>
                    <td>
                        <span class="on" v-if="data.isEnabled == true">ON</span>
                        <span class="off" v-if="data.isEnabled == false">OFF</span>
                    </td>
                </tr>


            </table>
        </div>
    </div>

</template>

<script>
    import Vue from 'vue'
    import Paginate from 'vuejs-paginate'
    Vue.component('paginate', Paginate)

    export default {
        components: {

        },
        data() {
            return {
                tableData: [],
                formData: {},
                // active: 1,
                // page: 1,
                offset: '',
                limit: 20,
                // count: 0,
                pages: 0,

            }
        },
        methods: {
            fetch(item){
                this.offset = (item-1)*this.limit
                this.axios.post('' , {
                    "command": "getCompanies",
                    "offset": this.offset,
                    "limit": this.limit,
                    "search": this.formData.q
                }).then(
                    response => {
                        this.tableData = response.data.rows;
                        this.pages = Math.ceil(response.data.count/this.limit);
                    }
                ).catch((err) => {console.log(err)})
            },

        },
        created(){
            this.fetch()
        }

    }
</script>


/*code by usama*/
<style>

</style>
