<template>
<div>
    <div class="users_area" v-if="!profile">
        <h2>Groups</h2>

        <div class="search_paginate">
            <div class="users_search">
                <input type="text" class="search_bar" v-model="formData.q" name="" value=""/>
                <input type="submit" class="search_btn" name="" @click.prevent="fetch()" value="Search"/>
            </div>


            <div class="pagination">

                <paginate
                        :no-li-surround = true
                        :page-count="pages"
                        :prev-text="'Prev'"
                        :next-text="'Next'"
                        :click-handler="fetch">
                </paginate>

            </div>

        </div>

        <div class="tab-list">
            <table class="">
                <tr>
                    <th>ID</th>
                    <th>User ID</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Type</th>
                    <th>Fee</th>
                    <th>Period</th>
                    <th>Duration</th>
                    <th>Dur.Type</th>
                    <th>Hidden</th>
                    <th>Archived</th>
                    <th>Win</th>
                    <th>Lose</th>
                    <th>Neutral</th>
                    <th>Active</th>
                    <th>Pending</th>
                    <th>Closed</th>
                    <th>Comments</th>
                    <th>Subs.</th>
                    <th>Rec.Count</th>
                    <th>Rec.ID</th>

                </tr>


                <tr class="information" v-for="data in tableData" @click.prevent="detail(data)" style="cursor: pointer;">
                    <td><span class="id">{{data.id}}</span></td>
                    <td><span class="id">{{data.user_id}}</span></td>
                    <td>{{data.title}}</td>
                    <td>{{data.description}}</td>
                    <td class="circle_img" v-if="data.image !== null"><img alt="Smiley" :src="data.image"></td>
                    <td class="circle_img" v-if="data.image == null"></td>
                    <td><span class="paid">Paid</span></td>
                    <td>{{data.fee_amount}}</td>
                    <td>{{data.period}}</td>
                    <td>{{data.duration}}</td>
                    <td>{{data.duration_type}}</td>
                    <td>
                        <span class="hidden" v-if="data.isHidden == true"><img alt="Smiley" src="images/hidden.png"></span>
                        <span class="unhidden" v-if="data.isHidden == false"><img alt="Smiley" src="images/unhidden.png"></span>
                    </td>
                    <td>
                        <span class="unhidden" v-if="data.archived == false"></span>
                        <span class="archive" v-if="data.archived == true"><img alt="Smiley" src="images/archive.png"></span>
                    </td>
                    <td>{{data.winRecomendations}}</td>
                    <td>{{data.loseRecomendations}}</td>
                    <td>{{data.neutralRecomendations}}</td>
                    <td>{{data.activeRecomendations}}</td>
                    <td>{{data.pendingRecomendations}}</td>
                    <td>44</td>
                    <td>{{data.commentsCount}}</td>
                    <td>{{data.subscribersCount}}</td>
                    <td>{{data.recsCount}}</td>
                    <td>156</td>

                </tr>


            </table>
        </div>
    </div>

    <div class="users_area user_detail" v-if="profile">
        <h2>Groups</h2>

        <ul class="user_profile">
            <li @click.prevent="profile = false"><a href="">Groups</a></li>
            <!--                 <li><span class="arrow-right"></span></li>
             -->
            <li @click.prevent="profile = true"><a href="">Group Details</a></li>
        </ul>
        <!--             <a href="#">Users</a><span class="arrow-right"></span><a href="#">User Profile</a>
         -->
        <div class="user-detail-form">
            <form>
                <div class="col-1">
                    <label for="id">Group ID</label>
                    <input class="no-text" type="text" name="id" v-model="formData.id" placeholder="" disabled style="cursor: no-drop">


                    <label for="title">Title</label>
                    <input type="text" id="title" name="email" v-model="formData.title" placeholder="Email">
                    <label for="info">Description</label>
                    <textarea id="description" name="subject" v-model="formData.description" placeholder=""
                              style="height:134px"></textarea>
                    <label for="groupimage">Group Image</label>
                    <input type="text" name="d-name" placeholder="" v-model="formData.image">
                    <label for="g-type">Group Type</label>
                    <select id="group-type" name="group type" class="u-type">
                        <option value="Paid">Paid</option>
                        <option value="unpaid">unpaid</option>
                    </select>


                </div>
                <div class="col-1">
                    <label for="f-name">Subscription Price</label>
                    <input type="text" name="f-name" placeholder="">
                    <label for="">Period</label>
                    <select id="period" name="period" class="simple-type">
                        <option value="Monthly">Monthly</option>
                        <option value="Yearly">Yearly</option>
                    </select>
                    <label for="l-name">Duration</label>
                    <input type="text" name="l-name" placeholder="" v-model="formData.duration">
                    <label for="">Duration Type</label>
                    <select id="duration" name="period" v-model="formData.duration_type" class="simple-type">
                        <option :value="'month'">Monthly</option>
                        <option :value="'year'">Yearly</option>
                    </select>


                    <label for="g-type">Hidden</label>
                    <select id="hidden-type" v-model="formData.isHidden" name="hidden type" class="u-type">
                        <option :value="true">True</option>
                        <option :value="false">False</option>
                    </select>
                    <label for="g-type">Archived</label>
                    <select id="ar-type" name="ar type" v-model="formData.archived" class="simple-type">
                        <option :value="true">True</option>
                        <option :value="false">False</option>
                    </select>
                    <label for="a-name">Comments Count</label>
                    <input type="text" name="a-name" v-model="formData.commentsCount" placeholder="">


                </div>
                <div class="col-1">

                    <div class="input-btn-group">
                        <label for="">Reports Count</label>
                        <input type="text">
                        <input type="button" value="Group Subscription" class="cancel group" style="margin: 0;">

                    </div>
                    <div class="input-btn-group">
                        <label for="">Recommendation Count</label>
                        <input type="text">
                        <input type="button" value="Group Recommendations" class="cancel group" style="margin: 0;">

                    </div>
                    <label for="">Reports Count</label>
                    <input type="text">
                    <label for="">Publishing</label>
                    <input type="text">

                    <label for="create">Created</label>
                    <div class="d-text">
                        <input class="no-text" type="text" name="created" placeholder=""
                               disabled
                               style="cursor: no-drop">
                        <div class="dated">
                            <span>{{formData.createdAt | date}}</span><span>|</span><span>{{formData.createdAt | minutes}}</span>
                        </div>
                    </div>

                    <label for="update">Updated</label>
                    <div class="d-text2">
                        <input class="no-text" type="text" name="created" placeholder=""
                               disabled
                               style="cursor: no-drop">
                        <div class="dated2">
                            <span>{{formData.updatedAt | date}}</span><span>|</span><span>{{formData.updatedAt | minutes}}</span>
                        </div>
                    </div>
                    <div><input type="button" value="Kicked Users" class="cancel"
                                style="margin: 0;width: 46%">
                        <input class="cancel" value="Chat Messages" type="button" style="width: 46%">
                    </div>
                </div>
                <div class="submit">
                    <input type="submit" value="Submit" @click.prevent="submitProfile()">
                    <input class="cancel" value="Cancel" type="button" @click.prevent="profile = false">
                </div>


            </form>
        </div>

    </div>
</div>
</template>

<script>
    import Vue from 'vue'
    import Paginate from 'vuejs-paginate'
    Vue.component('paginate', Paginate)

    export default {
        components: {

        },
        data() {
            return {
                tableData: [],
                formData: {},
                profile: false,
                // active: 1,
                // page: 1,
                offset: '',
                limit: 20,
                // count: 0,
                pages: 0,

            }
        },
        methods: {
            fetch(item){
                this.offset = (item-1)*this.limit
                this.axios.post('' , {
                    "command": "getGroups",
                    "offset": this.offset,
                    "limit": this.limit,
                    "search": this.formData.q
                }).then(
                    response => {
                        this.tableData = response.data.rows;
                        this.pages = Math.ceil(response.data.count/this.limit);
                    }
                ).catch((err) => {console.log(err)})
            },
            detail(item){
                this.axios.post('' , {
                    "command": "getGroups",
                    "id": item.id
                }).then(
                    response => {
                        this.formData = response.data.data;
                        this.profile = true
                    }
                ).catch((err) => {console.log(err)})
            },
            submitProfile(){
                this.axios.post('' , {
                    "command": "saveGroup",
                    "id": this.formData.id,
                    "data": this.formData
                }).then(
                    response => {
                        this.profile = false;
                        this.fetch(1)

                    }
                ).catch((err) => {console.log(err)})
            },

        },
        created(){
            this.fetch()
        }

    }
</script>


/*code by usama*/
<style>

</style>
