<template>
    <div class="users_area">
        <h2>Home</h2>


        <div class="t-row">
            <div class="t-column">
                <div class="t-card">
                    <div class="card-header">
                        <div class="col-img">
                            <img src="images/user-icon.png" alt="">
                        </div>
                        <div class="col-content">
                            <p>Total Number of Registered Users</p>
                            <span>2341</span>
                        </div>
                    </div>
                    <div class="card-content">
                        <ul>
                            <li><span class="s-heading">Analysts</span>
                                <p class="d-text">1000</p></li>
                            <li><span class="s-heading">Investors</span>
                                <p class="d-text">1314</p></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="t-column">
                <div class="t-card">
                    <div class="card-header">
                        <div class="col-img">
                            <img src="images/groups-icon.png" alt="">
                        </div>
                        <div class="col-content">
                            <p>Total Groups</p>
                            <span>341</span>
                        </div>
                    </div>
                    <div class="card-content">
                        <ul>
                            <li><span class="s-heading">Analysts</span>
                                <p class="d-text">1000</p></li>
                            <li><span class="s-heading">Investors</span>
                                <p class="d-text">1314</p></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="t-column">
                <div class="t-card">
                    <div class="card-header">
                        <div class="col-img">
                            <img src="images/recom-icon.png" alt="">
                        </div>
                        <div class="col-content">
                            <p>Total Recommendations</p>
                            <span>3567</span>
                        </div>
                    </div>
                    <div class="card-content">
                        <ul>
                            <li><span class="s-heading">Analysts</span>
                                <p class="d-text">1000</p></li>
                            <li><span class="s-heading">Investors</span>
                                <p class="d-text">1314</p></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="t-column">
                <div class="t-card">
                    <div class="card-header">
                        <div class="col-img">
                            <img src="images/trans-icon.png" alt="">
                        </div>
                        <div class="col-content">
                            <p>Total Number Transactions</p>
                            <span>3567 <em>$ 150 000. 99</em></span>
                        </div>
                    </div>
                    <div class="card-content">
                        <ul>
                            <li><span class="s-heading">Analysts</span>
                                <p class="d-text">1000</p></li>
                            <li><span class="s-heading">Investors</span>
                                <p class="d-text">1314</p></li>
                            <li><span class="s-heading">Analysts</span>
                                <p class="d-text">1000</p></li>
                            <li><span class="s-heading">Investors</span>
                                <p class="d-text">1314</p></li>
                            <li><span class="s-heading">Analysts</span>
                                <p class="d-text">1000</p></li>
                            <li><span class="s-heading">Investors</span>
                                <p class="d-text">1314</p></li>


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        components: {

        },
        data() {
            return {
                tableData: [],
            }
        },
        methods: {
            fetch:  function(){
                this.axios.post('' , {
                    "command": "getUsers",
                    "offset": this.offset,
                    "limit": this.limit,
                    "search": this.formData.q
                }).then(
                    response => {
                        this.tableData = response.data.rows;
                    }
                ).catch((err) => {console.log(err)})
            },

        },
        created(){
            // this.fetch(1)
        }

    }
</script>


/*code by usama*/
<style>

</style>
