<template>

    <div class="users_area">
        <h2>Media</h2>

        <div class="search_paginate">
            <div class="users_search">
                <input type="text" class="search_bar" name="" value=""/>
                <input type="submit" class="search_btn" name="" value="Search"/>
            </div>


            <div class="pagination">

                <a href="#">1</a>
                <a class="active" href="#">2</a>
                <a href="#">3</a>

            </div>
            <div class="media-icons">
                <a href="media.html"><img src="images/media-icon1-a.png" alt="img_description"></a>
                <a href="media-box.html"><img src="images/media-icon2.png" alt="img_description"></a>
            </div>

        </div>
        <div class="tab-list users-list media-file">

            <table class="">
                <tr>
                    <th>Image ID</th>
                    <th>User ID</th>
                    <th>Image</th>
                    <th>Image Type</th>

                    <th>Group ID</th>
                    <th>Blocked</th>

                    <th>Uploaded</th>
                    <th>Updated</th>
                </tr>


                <tr class="information">
                    <td><span class="id">1</span></td>
                    <td><span class="id">2</span></td>
                    <td class="circle_img"><img alt="Smiley" src="images/display_img.png"></td>
                    <td>User Avatar</td>

                    <td></td>
                    <td><span class="blocked">Blocked</span></td>

                    <td>2017.12.04 <em>10:56:11</em></td>
                    <td>2018.15.31 <em> 8:43:15</em></td>
                </tr>


                <tr class="information">
                    <td><span class="id">2</span></td>
                    <td><span class="id">44</span></td>
                    <td class="circle_img"><img alt="Smiley" src="images/display_img.png"></td>
                    <td>Group Avatar</td>

                    <td>44</td>
                    <td><span class="unblocked">Unblocked</span></td>

                    <td>2017.12.04 <em>10:56:11</em></td>
                    <td>2018.15.31 <em> 8:43:15</em></td>
                </tr>


                <tr class="information">
                    <td><span class="id">5</span></td>
                    <td><span class="id">123</span></td>
                    <td class="circle_img"><img alt="Smiley" src="images/display_img.png"></td>
                    <td>Recomendation image</td>
                    <td></td>

                    <td><span class="blocked">Blocked</span></td>

                    <td>2017.12.04 <em>10:56:11</em></td>
                    <td>2018.15.31 <em> 8:43:15</em></td>
                </tr>


                <tr class="information">
                    <td><span class="id">1</span></td>
                    <td><span class="id">2</span></td>
                    <td class="circle_img"><img alt="Smiley" src="images/display_img.png"></td>
                    <td>User Avatar</td>
                    <td></td>

                    <td><span class="blocked">Blocked</span></td>

                    <td>2017.12.04 <em>10:56:11</em></td>
                    <td>2018.15.31 <em> 8:43:15</em></td>
                </tr>


                <tr class="information">
                    <td><span class="id">2</span></td>
                    <td><span class="id">44</span></td>
                    <td class="circle_img"><img alt="Smiley" src="images/display_img.png"></td>
                    <td>Group Avatar</td>

                    <td>44</td>
                    <td><span class="unblocked">Unblocked</span></td>

                    <td>2017.12.04 <em>10:56:11</em></td>
                    <td>2018.15.31 <em> 8:43:15</em></td>
                </tr>

                <tr class="information">
                    <td><span class="id">5</span></td>
                    <td><span class="id">123</span></td>
                    <td class="circle_img"><img alt="Smiley" src="images/display_img.png"></td>
                    <td>Recomendation image</td>

                    <td></td>
                    <td><span class="blocked">Blocked</span></td>

                    <td>2017.12.04 <em>10:56:11</em></td>
                    <td>2018.15.31 <em> 8:43:15</em></td>
                </tr>


                <tr class="information">
                    <td><span class="id">1</span></td>
                    <td><span class="id">2</span></td>
                    <td class="circle_img"><img alt="Smiley" src="images/display_img.png"></td>
                    <td>User Avatar</td>
                    <td></td>

                    <td><span class="blocked">Blocked</span></td>

                    <td>2017.12.04 <em>10:56:11</em></td>
                    <td>2018.15.31 <em> 8:43:15</em></td>
                </tr>


                <tr class="information">
                    <td><span class="id">2</span></td>
                    <td><span class="id">44</span></td>
                    <td class="circle_img"><img alt="Smiley" src="images/display_img.png"></td>
                    <td>Group Avatar</td>

                    <td>44</td>
                    <td><span class="unblocked">Unblocked</span></td>

                    <td>2017.12.04 <em>10:56:11</em></td>
                    <td>2018.15.31 <em> 8:43:15</em></td>
                </tr>


                <tr class="information">
                    <td><span class="id">5</span></td>
                    <td><span class="id">123</span></td>
                    <td class="circle_img"><img alt="Smiley" src="images/display_img.png"></td>
                    <td>Recomendation image</td>
                    <td></td>

                    <td><span class="blocked">Blocked</span></td>

                    <td>2017.12.04 <em>10:56:11</em></td>
                    <td>2018.15.31 <em> 8:43:15</em></td>
                </tr>


                <tr class="information">
                    <td><span class="id">1</span></td>
                    <td><span class="id">2</span></td>
                    <td class="circle_img"><img alt="Smiley" src="images/display_img.png"></td>
                    <td>User Avatar</td>
                    <td></td>

                    <td><span class="blocked">Blocked</span></td>

                    <td>2017.12.04 <em>10:56:11</em></td>
                    <td>2018.15.31 <em> 8:43:15</em></td>
                </tr>


                <tr class="information">
                    <td><span class="id">2</span></td>
                    <td><span class="id">44</span></td>
                    <td class="circle_img"><img alt="Smiley" src="images/display_img.png"></td>
                    <td>Group Avatar</td>

                    <td>44</td>
                    <td><span class="unblocked">Unblocked</span></td>

                    <td>2017.12.04 <em>10:56:11</em></td>
                    <td>2018.15.31 <em> 8:43:15</em></td>
                </tr>


                <tr class="information">
                    <td><span class="id">5</span></td>
                    <td><span class="id">123</span></td>
                    <td class="circle_img"><img alt="Smiley" src="images/display_img.png"></td>
                    <td>Recomendation image</td>
                    <td></td>

                    <td><span class="blocked">Blocked</span></td>

                    <td>2017.12.04 <em>10:56:11</em></td>
                    <td>2018.15.31 <em> 8:43:15</em></td>
                </tr>


                <tr class="information">
                    <td><span class="id">1</span></td>
                    <td><span class="id">2</span></td>
                    <td class="circle_img"><img alt="Smiley" src="images/display_img.png"></td>
                    <td>User Avatar</td>
                    <td></td>

                    <td><span class="blocked">Blocked</span></td>

                    <td>2017.12.04 <em>10:56:11</em></td>
                    <td>2018.15.31 <em> 8:43:15</em></td>
                </tr>


                <tr class="information">
                    <td><span class="id">2</span></td>
                    <td><span class="id">44</span></td>
                    <td class="circle_img"><img alt="Smiley" src="images/display_img.png"></td>
                    <td>Group Avatar</td>

                    <td>44</td>
                    <td><span class="unblocked">Unblocked</span></td>

                    <td>2017.12.04 <em>10:56:11</em></td>
                    <td>2018.15.31 <em> 8:43:15</em></td>
                </tr>


                <tr class="information">
                    <td><span class="id">5</span></td>
                    <td><span class="id">123</span></td>
                    <td class="circle_img"><img alt="Smiley" src="images/display_img.png"></td>
                    <td>Recomendation image</td>
                    <td></td>

                    <td><span class="blocked">Blocked</span></td>

                    <td>2017.12.04 <em>10:56:11</em></td>
                    <td>2018.15.31 <em> 8:43:15</em></td>
                </tr>


                <tr class="information">
                    <td><span class="id">1</span></td>
                    <td><span class="id">2</span></td>
                    <td class="circle_img"><img alt="Smiley" src="images/display_img.png"></td>
                    <td>User Avatar</td>
                    <td></td>

                    <td><span class="blocked">Blocked</span></td>

                    <td>2017.12.04 <em>10:56:11</em></td>
                    <td>2018.15.31 <em> 8:43:15</em></td>
                </tr>


            </table>
        </div>
    </div>

</template>

<script>

    export default {
        components: {

        },
        data() {
            return {
                profile: false

            }
        },
        methods: {

        },

    }
</script>


/*code by usama*/
<style>

</style>
