<template>

    <div class="users_area user_detail">
        <h2>Notifications</h2>

        <div class="user-detail-form">
            <form>
                <div class="col-1">

                    <label for="u-type">Send Notification To</label>
                    <select id="user type" name="user type" class="u-type">
                        <option value="Group of Users">Group of Users</option>
                        <option value="Group of Users">Group of Users</option>
                    </select>
                    <label for="info">User IDs</label>
                    <textarea id="userids" name="subject" placeholder=""
                              style="height:134px"></textarea>
                    <label for="text">Notification Text</label>
                    <textarea id="description" name="subject" placeholder=""
                              style="height:134px"></textarea>
                    <div><input type="submit" value="Send Notification" style="width: 100%">
                    </div>


                </div>


            </form>
        </div>

    </div>

</template>

<script>

    export default {
        components: {

        },
        data() {
            return {
                profile: false

            }
        },
        methods: {

        },

    }
</script>


/*code by usama*/
<style>

</style>
