<template>

    <div class="users_area">
        <h2>Transactions</h2>

        <div class="search_paginate">
            <div class="users_search">
                <input type="text" class="search_bar" v-model="formData.q" name="" value=""/>
                <input type="submit" class="search_btn" name="" @click.prevent="fetch()" value="Search"/>
            </div>


            <div class="pagination">

                <paginate
                        :no-li-surround = true
                        :page-count="pages"
                        :prev-text="'Prev'"
                        :next-text="'Next'"
                        :click-handler="fetch">
                </paginate>

            </div>

        </div>

        <div class="tab-list users-list">
            <table class="">
                <tr>
                    <th>ID</th>
                    <th>User ID</th>
                    <th>Group ID</th>
                    <th>Subscription ID</th>
                    <th>Card Ending</th>
                    <th>Purpose</th>
                    <th>Pay Tabs ID</th>
                    <th>Status</th>
                    <th>Payment Direction</th>
                    <th>Currency</th>
                    <th>Amount</th>
                    <th>Control</th>
                    <th>Created</th>
                    <th>Updated</th>

                </tr>


                <tr class="information" v-for="data in tableData">
                    <td><span class="id">{{data.id}}</span></td>
                    <td><span class="id">{{data.userId}}</span></td>
                    <td>{{data.groupId}}</td>
                    <td>{{data.subscriptionId}}</td>
                    <td>1057</td>
                    <td>{{data.purpose}}</td>
                    <td>{{data.paytabsId}}</td>
                    <td>
                        <span class="trans_paid" v-if="data.status == 'done'">Success</span>
                        <span class="trans_cancel" v-if="data.status == 'canceled'">Declined</span>
                        <span class="blocked" v-if="data.status == 'pending'">Pending</span>
                    </td>
                    <td>{{data.paymentDirection}}</td>
                    <td>{{data.currency}}</td>
                    <td>{{data.amount}}</td>

                    <td>
                        <div class="actions" v-if="data.status == 'done'">
                            <button class="btn btn-confirm" id="confirm" @click.prevent="showOne(data)">Save</button>
                        </div>
                    </td>

                    <td>{{data.createdAt | date}} <em>{{data.createdAt | minutes}}</em></td>
                    <td>{{data.updatedAt | date}} <em>{{data.updatedAt | minutes}}</em></td>

                </tr>



            </table>
        </div>
        <div class="modal" v-if="showModalOne">

            <div class="modal-content">
                <p>Are you sure you want to confirm this transaction?</p>
                <div class="modal-actions">
                    <button class="btn btn-confirm" @click.prevent="accept()">Confirm</button>
                    <button class="btn btn-reject close" @click.prevent="showModalOne = !showModalOne">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import Vue from 'vue'
    import Paginate from 'vuejs-paginate'
    Vue.component('paginate', Paginate)

    export default {
        components: {
        },
        data() {
            return {
                tableData: [],
                formData: {},
                // active: 1,
                // page: 1,
                offset: '',
                limit: 20,
                // count: 0,
                pages: 0,
                showModalOne: false,
            }
        },
        methods: {
            fetch(item){
                this.offset = (item-1)*this.limit
                this.showModalOne = false
                this.axios.post('' , {
                    "command": "getTransactions",
                    "offset": this.offset,
                    "limit": this.limit,
                    "search": this.formData.q
                }).then(
                    response => {
                        this.tableData = response.data.rows;
                        this.pages = Math.ceil(response.data.count/this.limit);
                    }
                ).catch((err) => {console.log(err)})
            },
            showOne(item){
                this.showModalOne = !this.showModalOne
                this.formData = item
            },
            accept(){
                this.axios.post('' , {
                    "command": "saveTransaction",
                    "id": this.formData.id
                }).then(
                    response => {
                        this.fetch()
                        // this.pagination = response.data.page_info
                    }
                ).catch((err) => {console.log(err)})
            },

        },
        created(){
            this.fetch()
        }
    }
</script>


/*code by usama*/
<style>

</style>
