<template>
    <div>
        <div class="users_area" v-if="!profile">
            <h2>Users</h2>

            <div class="search_paginate">
                <div class="users_search">
                    <input type="text" class="search_bar" v-model="formData.q" name="" value=""/>
                    <input type="submit" class="search_btn" name="" @click.prevent="fetch()" value="Search"/>
                </div>


                <div class="pagination">
                    <paginate
                            :no-li-surround = true
                            :page-count="pages"
                            :prev-text="'Prev'"
                            :next-text="'Next'"
                            :click-handler="fetch">
                    </paginate>
                    <!--<a v-for="page in range(minPage, maxPage)" @click="fetch(page)" :class="{active:active === page}">{{page}}</a>-->
                </div>

            </div>
            <div class="tab-list users-list">

                <table class="">
                    <tr>
                        <th>ID</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Photo</th>
                        <th>Display Name</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Arabic Name</th>
                        <th>Verification</th>
                        <th>User Type</th>
                        <th>About Me</th>

                        <th>Group ID</th>
                        <th>Blocking</th>
                        <th>Block Reason</th>
                        <th>Created</th>
                        <th>Updated</th>
                    </tr>


                    <tr class="information" v-for="data in tableData" @click.prevent="detail(data)" style="cursor: pointer">

                        <td><span class="id">{{data.id}}</span></td>
                        <td>712312312312</td>
                        <td>{{data.email}}</td>
                        <td class="circle_img" v-if="data.photo !== null"><img alt="Smiley" :src="data.photo"></td>
                        <td class="circle_img" v-if="data.photo == null"></td>
                        <td>{{data.display_name}}</td>
                        <td>{{data.firstName}}</td>
                        <td>{{data.lastName}}</td>
                        <td>{{data.arabicName}}</td>
                        <td>
                            <span class="unverified" v-if="data.isEmailVerified == false">Unverified</span>
                            <span class="verified" v-if="data.isEmailVerified == true">Verified</span>
                        </td>
                        <td>
                            <span class="investor" v-if="data.user_type == 'investor'">Investor</span>
                            <span class="analyst" v-if="data.user_type == 'analyst'">Analyst</span>
                            <span class="admin" v-if="data.user_type == 'admin'">Admin</span>
                        </td>
                        <td>{{data.about_me}}</td>

                        <td>105</td>
                        <td>
                            <span class="blocked" v-if="data.isBlocked == true">Blocked</span>
                            <span class="unblocked" v-if="data.isBlocked == false">Unblocked</span>
                        </td>
                        <td>{{data.blockReason}}</td>

                        <td>{{data.createdAt | date}} <em>{{data.createdAt | minutes}}</em></td>
                        <td>{{data.updatedAt | date}} <em>{{data.updatedAt | minutes}}</em></td>

                    </tr>




                </table>
            </div>
        </div>

        <div class="users_area user_detail" v-if="profile">
            <h2>User Profile</h2>

            <ul class="user_profile">
                <li @click.prevent="profile = false"><a href="">Users</a></li>
                <!--                 <li><span class="arrow-right"></span></li>
                 -->
                <li @click.prevent="profile = true"><a href="">User Profile</a></li>
            </ul>
            <!--             <a href="#">Users</a><span class="arrow-right"></span><a href="#">User Profile</a>
             -->
            <div class="user-detail-form">
                <form>
                    <div class="col-1">
                        <label for="id">User ID</label>
                        <input class="no-text" type="text" v-model="formData.id" name="id" placeholder="" disabled style="cursor: no-drop">

                        <label for="phone">Phone</label>
                        <input type="number" id="phone" name="phone" v-model="formData.phone" placeholder="Phone">

                        <label for="email">Email</label>
                        <input type="email" id="email" v-model="formData.email" name="email" placeholder="Email">
                        <label for="email">Photo</label>
                        <input type="text" id="image" name="image" placeholder="Photo" v-model="formData.photo">
                        <label for="Display Name">Display name</label>
                        <input type="text" name="d-name" v-model="formData.display_name" placeholder="Display Name">


                    </div>
                    <div class="col-1">
                        <label for="f-name">First Name</label>
                        <input type="text" name="f-name" v-model="formData.firstName" placeholder="">
                        <label for="l-name">Last Name</label>
                        <input type="text" name="l-name" v-model="formData.lastName" placeholder="">
                        <label for="a-name">Arabic Name</label>
                        <input type="text" name="a-name" v-model="formData.arabicName" placeholder="">
                        <label for="verified">Email Verification</label>
                        <select name="status" v-model="formData.isEmailVerified" class="verified">
                            <option :value="true">Verified</option>
                            <option :value="false">Unverified</option>
                        </select>


                        <label for="u-type">User Type</label>
                        <select name="status" v-model="formData.user_type" class="verified">
                            <option :value="'investor'">Investor</option>
                            <option :value="'analyst'">Analyst</option>
                            <option :value="'admin'">Admin</option>
                        </select>


                    </div>
                    <div class="col-1">
                        <label for="info">About Me</label>
                        <textarea id="subject" name="subject" v-model="formData.about_me" placeholder=""
                                  style="height:134px"></textarea>

                        <label for="block">Blocked</label>
                        <select name="status" v-model="formData.isBlocked" class="verified">
                            <option :value="true">Blocked</option>
                            <option :value="false">Unblocked</option>
                        </select>

                        <label for="info">Block Reason</label>
                        <textarea id="subject1" v-model="formData.blockReason" name="subject" placeholder=""
                                  style="height:200px"></textarea>

                        <label for="create">Created</label>
                        <div class="d-text">
                            <input class="no-text" type="text" name="created" placeholder=""
                                   disabled
                                   style="cursor: no-drop">
                            <div class="dated">
                                <span>{{formData.createdAt | date}}</span><span>|</span><span>{{formData.createdAt | minutes}}</span>
                            </div>
                        </div>

                        <label for="update">Updated</label>
                        <div class="d-text2">
                            <input class="no-text" type="text" name="created" placeholder=""
                                   disabled
                                   style="cursor: no-drop">
                            <div class="dated2">
                                <span>{{formData.updatedAt | date}}</span><span>|</span><span>{{formData.updatedAt | minutes}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="submit">
                        <input type="submit" value="Submit" @click.prevent="submitProfile()">
                        <input class="cancel" value="Cancel" type="button" @click.prevent="profile = false">
                    </div>


                </form>
            </div>

        </div>
    </div>
</template>

<script>
    import Vue from 'vue'
    import Paginate from 'vuejs-paginate'
    Vue.component('paginate', Paginate)

    export default {
        components: {

        },
        data() {
            return {
                profile: false,
                tableData: [],
                formData: {},
                // active: 1,
                // page: 1,
                offset: '',
                limit: 20,
                // count: 0,
                pages: 0,

            }
        },
        methods: {
            fetch:  function(item){
                this.offset = (item-1)*this.limit
                // this.active = item || 1;
                // this.page = item
                this.axios.post('' , {
                    "command": "getUsers",
                    "offset": this.offset,
                    "limit": this.limit,
                    "search": this.formData.q
                }).then(
                    response => {
                        this.tableData = response.data.rows;
                        this.pages = Math.ceil(response.data.count/this.limit);
                    }
                ).catch((err) => {console.log(err)})
            },
            detail(item){
                this.axios.post('' , {
                    "command": "getUsers",
                    "id": item.id
                }).then(
                    response => {
                        this.formData = response.data.data;
                        this.profile = true
                    }
                ).catch((err) => {console.log(err)})
            },
            submitProfile(){
                this.axios.post('' , {
                    "command": "saveUser",
                    "id": this.formData.id,
                    "data": this.formData
                }).then(
                    response => {
                        this.profile = false;
                        this.fetch(1)

                    }
                ).catch((err) => {console.log(err)})
            },

        },
        created(){
            this.fetch(1)
        }

    }
</script>


/*code by usama*/
<style>

</style>
