<template>
    <div>

    <div class="users_area">
        <h2>Withdrawals</h2>

        <div class="search_paginate">
            <div class="users_search">
                <input type="text" class="search_bar" v-model="formData.q" name="" value=""/>
                <input type="submit" class="search_btn" name="" @click.prevent="fetch()" value="Search"/>
            </div>


            <div class="pagination">

                <paginate
                        :no-li-surround = true
                        :page-count="pages"
                        :prev-text="'Prev'"
                        :next-text="'Next'"
                        :click-handler="fetch">
                </paginate>

            </div>

        </div>

        <div class="tab-list users-list withdrawals">
            <table class="">
                <tr>
                    <th>ID</th>
                    <th>User ID</th>
                    <th>Display Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Bank Account</th>
                    <th>Amount Requested</th>
                    <th>Current Balance</th>
                    <th>Status</th>
                    <th>Control</th>

                    <th>Updated</th>

                </tr>


                <tr class="information" v-for="data in tableData">
                    <td><span class="id">{{data.id}}</span></td>
                    <td><span class="id">{{data.userId}}</span></td>
                    <td v-if="data.user">{{data.user.display_name}}</td>
                    <td v-if="!data.user"></td>
                    <td v-if="data.user">{{data.user.phone}}</td>
                    <td v-if="!data.user"></td>
                    <td v-if="data.user">{{data.user.email}}</td>
                    <td v-if="!data.user"></td>
                    <td>{{data.bankAccountId}}</td>
                    <td>{{data.amount}} AED</td>
                    <td>{{data.balance}} AED</td>
                    <td>
                        <span class="completed" v-if="data.status == 'done'">Completed</span>
                        <span class="in-progress" v-if="data.status == 'inProgress'">In Progress</span>
                        <span class="rejected" v-if="data.status == 'rejected'">Rejected</span>
                        <span class="new" v-if="data.status == 'pending'">Pending</span>
                    </td>
                    <td>
                        <div class="actions" v-if="data.status == 'pending'">
                            <button class="btn btn-confirm" id="confirm" @click.prevent="showOne(data)">Confirm</button>
                            <button class="btn btn-reject" @click.prevent="showTwo(data)">Reject</button>
                        </div>
                    </td>

                    <td>{{data.updatedAt | date}} <em>{{data.updatedAt | minutes}}</em></td>

                </tr>



            </table>
        </div>
    </div>

        <div class="modal" v-if="showModalOne">

            <div class="modal-content">
                <p>Are you sure you want to confirm this Withdraw?</p>
                <div class="modal-actions">
                    <button class="btn btn-confirm" @click.prevent="accept()">Confirm</button>
                    <button class="btn btn-reject close" @click.prevent="showModalOne = !showModalOne">Cancel</button>
                </div>
            </div>
        </div>

        <div class="modal" v-if="showModalTwo">

            <div class="modal-content">
                <p>Are you sure you want to reject this Withdraw?</p>
                <div class="modal-actions">
                    <button class="btn btn-confirm" @click.prevent="reject">Confirm</button>
                    <button class="btn btn-reject close" @click.prevent="showModalTwo = !showModalTwo">Cancel</button>
                </div>
            </div>
        </div>


    </div>

</template>


<script>
    import Vue from 'vue'
    import Paginate from 'vuejs-paginate'
    Vue.component('paginate', Paginate)
    export default {
        components: {

        },
        data() {
            return {
                tableData: [],
                formData: {},
                text: '',
                showModalOne: false,
                showModalTwo: false,
                // active: 1,
                // page: 1,
                offset: '',
                limit: 20,
                // count: 0,
                pages: 0,

            }
        },
        methods: {
            fetch(item){
                this.offset = (item-1)*this.limit
                this.showModalOne = false
                this.showModalTwo = false
                this.axios.post('' , {
                    "command": "getWidthrawal",
                    "offset": this.offset,
                    "limit": this.limit,
                    "search": this.formData.q
                }).then(
                    response => {
                        this.tableData = response.data.rows;
                        this.pages = Math.ceil(response.data.count/this.limit);
                    }
                ).catch((err) => {console.log(err)})
            },
            showOne(item){
                this.showModalOne = !this.showModalOne
                this.formData = item
            },
            showTwo(item){
                this.showModalTwo = !this.showModalTwo
                this.formData = item
            },
            accept(){
                this.axios.post('' , {
                    "command": "acceptWidthrawal",
                    "id": this.formData.id
                }).then(
                    response => {
                        this.fetch()
                        // this.pagination = response.data.page_info
                    }
                ).catch((err) => {console.log(err)})
            },
            reject(){
                this.axios.post('' , {
                    "command": "rejectWidthrawal",
                    "id": this.formData.id
                }).then(
                    response => {
                        this.fetch()
                        // this.pagination = response.data.page_info
                    }
                ).catch((err) => {console.log(err)})
            },

        },
        created(){
          this.fetch()
        },
        mounted(){
        }
    }
</script>


/*code by usama*/
<style scoped>
    .customModal {
        box-shadow: 0px 1px 12px rgba(0,0,0,0.4);
        left: calc(50vw - 300px);
        position: absolute;
        z-index: 999;
        width: 600px;
        top: 20vh;
        border-radius: 5px;
        overflow: hidden;}

    .customModalBody {
        background-color: #fff;
        padding: 8px 12px;
        text-align: left;
        padding: 12px;
    }
    .customModalFooter {
        background-color: #eee;
        padding: 4px 12px;
        text-align: left;
    }



</style>
