<template>
    <ul class="user_panel">
        <li><a href="/"><img alt="Smiley" src="images/logo.png"/></a></li>
        <!--<li><a href="/#/" class="users" @click="active = '/'" :class="{active:active === '/'}">Users</a></li>-->
        <li><router-link class="home" to="/" exact-active-class="active">Home</router-link></li>
        <li><router-link class="users" to="user" exact-active-class="active">Users</router-link></li>
        <li><router-link class="groups" to="groups" exact-active-class="active">Groups</router-link></li>
        <li><router-link to="companies" class="companies" exact-active-class="active">Companies</router-link></li>
        <li><router-link to="transactions" class="transact" exact-active-class="active">Transactions</router-link></li>
        <li><router-link to="withdraw" class="withdraw" exact-active-class="active">Withdrawals</router-link></li>
        <li><router-link to="media" class="media" exact-active-class="active">Media</router-link></li>
        <li><router-link to="notifications" class="notification" exact-active-class="active">Notifications</router-link></li>

    </ul>
</template>

<script>
    export default {
        data() {
            return {
                active: null
            };
        },
        methods: {
        },
        mounted() {}
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
