<template>
    <div class="wrapper">
        <div class="panel">

            <Header></Header>

            <router-view/>

        </div>
    </div>
</template>

<script>
    import Header from './components/Header/header.vue'
    export default {
        name: 'App',
        components: {
            Header,
        },
        data() {
            return {
            }
        },
        methods: {
        },

        created() {}
    }
</script>
